.client-info-card {
  margin: 0 3% 0 3%;
  padding: 20px 0 0 0;
  background: #FFF; }
  .client-info-card .card-list > li {
    width: 45%;
    height: 200px;
    border: 1px solid #e6ecef;
    margin-bottom: 10px; }
    .client-info-card .card-list > li.li-add-card {
      text-align: center;
      line-height: 200px; }
    .client-info-card .card-list > li:nth-child(2n+1) {
      float: left;
      margin: 0 0 10px 3%; }
    .client-info-card .card-list > li:nth-child(2n) {
      float: right;
      margin: 0 3% 10px 0; }
    .client-info-card .card-list > li .head {
      background: #edf1f3;
      box-shadow: inset 0 -1px 0 0 #e6ecef;
      width: 100%;
      height: 40px;
      line-height: 40px; }
      .client-info-card .card-list > li .head .name {
        margin: 0 0 0 20px; }
        .client-info-card .card-list > li .head .name > span {
          font-size: 18px;
          color: #112233; }
          .client-info-card .card-list > li .head .name > span:nth-child(2) {
            font-size: 12px;
            color: #667788;
            margin: 0 0 0 10px; }
        .client-info-card .card-list > li .head .name .detail {
          position: relative; }
          .client-info-card .card-list > li .head .name .detail > i {
            width: 14px;
            height: 15px;
            background: url(../images/t-4.png) no-repeat center center;
            display: inline-block;
            vertical-align: top;
            margin: 13px 5px 0 5px; }
          .client-info-card .card-list > li .head .name .detail .detail-slide {
            display: none;
            position: absolute;
            top: 34px;
            left: -10px;
            background: #ffffff;
            border: 1px solid rgba(150, 150, 150, 0.18);
            box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.14);
            border-radius: 2px;
            width: 180px;
            height: 175px;
            z-index: 20; }
            .client-info-card .card-list > li .head .name .detail .detail-slide > table {
              width: 90%;
              margin: 0 auto; }
              .client-info-card .card-list > li .head .name .detail .detail-slide > table > tbody > tr > td {
                text-align: left;
                height: 50px;
                width: 50%; }
                .client-info-card .card-list > li .head .name .detail .detail-slide > table > tbody > tr > td > h6 {
                  font-size: 12px;
                  color: #334455;
                  height: 24px;
                  line-height: 24px; }
                .client-info-card .card-list > li .head .name .detail .detail-slide > table > tbody > tr > td > span {
                  font-size: 12px;
                  color: #667788;
                  display: block;
                  height: 12px;
                  line-height: 12px; }
            .client-info-card .card-list > li .head .name .detail .detail-slide:after {
              content: '';
              width: 0;
              height: 0;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-bottom: 6px solid #ffffff;
              position: absolute;
              top: -6px;
              left: 20px; }
      .client-info-card .card-list > li .head .edit {
        position: relative; }
        .client-info-card .card-list > li .head .edit > i {
          width: 12px;
          height: 9px;
          background: url(../images/t-5.png) no-repeat center center;
          display: inline-block;
          vertical-align: top;
          cursor: pointer;
          margin: 15px 20px 0 0; }
        .client-info-card .card-list > li .head .edit .edit-slide {
          display: none;
          position: absolute;
          width: 53px;
          height: 70px;
          border: 1px solid rgba(150, 150, 150, 0.18);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.14);
          top: 12px;
          background: #ffffff;
          left: 5px; }
          .client-info-card .card-list > li .head .edit .edit-slide > a {
            line-height: 35px;
            display: block;
            text-align: center;
            width: 100%;
            font-size: 12px;
            color: #667788;
            cursor: pointer; }
            .client-info-card .card-list > li .head .edit .edit-slide > a:nth-child(1) {
              border-bottom: #edf1f4 1px solid; }
            .client-info-card .card-list > li .head .edit .edit-slide > a:hover {
              color: #03a9f4; }
    .client-info-card .card-list > li .dot-tab {
      width: 100%;
      margin: 12px 0 0 0; }
      .client-info-card .card-list > li .dot-tab > li {
        float: left;
        width: 25%;
        text-align: center;
        font-size: 12px;
        color: #99aabb;
        height: 18px;
        line-height: 18px;
        border-bottom: 1px solid #d9e2e7;
        cursor: pointer; }
        .client-info-card .card-list > li .dot-tab > li:hover, .client-info-card .card-list > li .dot-tab > li.current {
          color: #667788;
          border-bottom: 1px solid #009ff2; }
    .client-info-card .card-list > li .intresting .tag-list {
      margin: 20px 0 0 20px; }
    .client-info-card .card-list > li .intresting .add-tag, .client-info-card .card-list > li .intresting .add-tag-con {
      margin: 10px 0 0 20px; }
    .client-info-card .card-list > li .contradict {
      position: relative;
      margin: 10px 0 0 0; }
      .client-info-card .card-list > li .contradict .add-tag-exist-con {
        display: none;
        position: absolute;
        background: #ffffff;
        border: 1px solid rgba(150, 150, 150, 0.18);
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.14);
        border-radius: 2px;
        width: 152px;
        height: 175px;
        overflow-y: scroll;
        top: 0px;
        left: 72px; }
    .client-info-card .card-list > li .relative-need-list {
      width: 90%;
      margin: 10px auto 0 auto; }
      .client-info-card .card-list > li .relative-need-list > li {
        height: 16px;
        width: 100%;
        margin: 5px 0; }
        .client-info-card .card-list > li .relative-need-list > li > i {
          display: inline-block;
          width: 16px;
          height: 16px;
          background: url(../images/t-12.png) no-repeat center center;
          vertical-align: top;
          margin: 0 2px 0 0;
          cursor: pointer; }
        .client-info-card .card-list > li .relative-need-list > li > a {
          font-size: 12px;
          color: #667788; }
        .client-info-card .card-list > li .relative-need-list > li:hover > i {
          background: url(../images/t-11.png) no-repeat center center; }
        .client-info-card .card-list > li .relative-need-list > li:hover > a {
          color: #009ff2; }
