* {
  margin: 0px;
  padding: 0px; }

body, html {
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Simsun";
  height: 100%;
  font-size: 13px; }
  body .error-msg, html .error-msg {
    color: #ed807c;
    margin-bottom: 5px; }

ul, li {
  list-style: none; }

table {
  border-collapse: collapse; }

input, select, textarea {
  outline: 0px;
  border: 1px solid #dbdbdb; }

a {
  text-decoration: none; }

.clear:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.left {
  float: left; }

.right {
  float: right; }

.red-start {
  color: #b74b4b; }

header.header {
  width: 85%;
  height: 42px;
  background: #FFF;
  color: #1f262d;
  position: fixed;
  top: 0px;
  left: 15%;
  z-index: 9;
  border-bottom: #EEE 1px solid; }
  header.header > div {
    height: 42px;
    position: relative; }
  header.header div.t {
    background: url(../images/Welcome.png) no-repeat 18px center;
    background-size: 10px 11px;
    padding-left: 35px;
    line-height: 42px;
    position: absolute;
    height: 42px;
    width: 130px;
    right: 0; }
    header.header div.t > span {
      position: absolute;
      vertical-align: top;
      width: 14px;
      height: 14px;
      line-height: 14px;
      font-size: 12px;
      text-align: center;
      border-radius: 14px;
      top: 2px;
      right: 7px;
      background: #fd6769;
      color: #FFF; }
    header.header div.t:after {
      content: '';
      position: absolute;
      width: 1px;
      height: 42px;
      top: 0px;
      left: 1px;
      background: #e2e2e2; }
  header.header .head-down {
    position: absolute;
    top: 42px;
    z-index: 9;
    right: 0;
    width: 120px;
    padding: 20px 20px 10px 20px;
    border-top: 0;
    background: #FFF;
    box-shadow: 3px 0 3px rgba(0, 0, 0, 0.2);
    display: none; }
    header.header .head-down li {
      text-align: center;
      margin-bottom: 10px; }
      header.header .head-down li a {
        display: block;
        color: #1f262d; }
  header.header .right-user:hover .head-down {
    display: block; }
  header.header .header-info {
    color: #334455;
    font-size: 16px;
    line-height: 42px; }
    header.header .header-info > i {
      display: inline-block;
      vertical-align: top;
      background: url("../images/home.png") no-repeat center center;
      background-size: 12px 12px;
      width: 11px;
      height: 11px;
      margin: 14px 0 0 12px; }
    header.header .header-info > a {
      color: #334455;
      text-decoration: none;
      padding: 0 0 0 10px;
      line-height: 42px;
      cursor: pointer; }
      header.header .header-info > a:hover {
        color: #0088cc; }
    header.header .header-info span.user-area {
      color: #0a0909;
      padding: 0 0 0 35px; }

aside.aside {
  position: fixed;
  width: 15%;
  height: 100%;
  top: 0px;
  background: #1f262d; }

.content {
  background-color: #F2F5F6;
  width: 85%;
  margin-left: 15%;
  margin-top: 42px; }
  .content .page-header {
    height: 30px;
    background: #FFF;
    border: 1px solid #eaeaea; }
    .content .page-header .header-info {
      color: #0f0f0f; }
      .content .page-header .header-info > i {
        display: inline-block;
        vertical-align: top;
        background: url("../images/home.png") no-repeat center center;
        background-size: 11px 11px;
        width: 11px;
        height: 11px;
        margin: 9px 0 0 5px; }
      .content .page-header .header-info > a {
        color: #0a0909;
        text-decoration: none;
        padding: 0 0 0 10px;
        line-height: 30px; }
        .content .page-header .header-info > a:hover {
          color: #0088cc; }
      .content .page-header .header-info span.user-area {
        color: #0a0909;
        padding: 0 0 0 35px; }
  .content .page-title {
    width: 96%;
    margin: 0 auto;
    height: 71px;
    line-height: 71px;
    border-bottom: 2px solid #dbdbdb;
    color: #555;
    font-size: 24px; }
  .content .display-middle {
    display: inline-block;
    vertical-align: middle; }
  .content .quarters-text {
    font-size: 14px;
    color: #112233;
    line-height: 18px;
    font-weight: 700;
    margin-left: 8px; }
  .content .quarters-icon {
    background: url("../images/quarters-icon.png") no-repeat;
    width: 16px;
    height: 12px; }
  .content .organize-icon {
    background: url("../images/organize-icon.png") no-repeat;
    width: 16px;
    height: 15px; }
  .content .tree-content ul li .tree-title {
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer; }
    .content .tree-content ul li .tree-title.one {
      padding-left: 20px; }
    .content .tree-content ul li .tree-title.two {
      padding-left: 40px; }
    .content .tree-content ul li .tree-title.three {
      padding-left: 60px; }
    .content .tree-content ul li .tree-title.four {
      padding-left: 80px; }
    .content .tree-content ul li .tree-title .tree-arrow {
      background: url("../images/tree-arrow-right.png") no-repeat;
      width: 8px;
      height: 13px;
      margin-right: 5px; }
      .content .tree-content ul li .tree-title .tree-arrow.tree-arrow-bottom {
        background: url("../images/tree-arrow.png") no-repeat;
        width: 12px;
        height: 7px; }
      .content .tree-content ul li .tree-title .tree-arrow.none-arrow {
        background: transparent; }
    .content .tree-content ul li .tree-title.active {
      background: #e6ecef;
      box-shadow: inset 1px 0 0 0 #03a9f4; }
    .content .tree-content ul li .tree-title:hover {
      background: #e6ecef;
      box-shadow: inset 1px 0 0 0 #03a9f4; }
  .content .tree-content ul li.tree-none > ul {
    display: none; }
  .content .tree-content ul li.tree-block > ul {
    display: block; }
  .content .tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    filter: alpha(opacity=0);
    opacity: 0;
    line-break: auto; }
    .content .tooltip .tooltip-arrow {
      position: absolute;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid; }
    .content .tooltip .tooltip-inner {
      max-width: 200px;
      padding: 8px;
      color: #fff;
      text-align: center;
      background-color: #000;
      border-radius: 4px; }
    .content .tooltip.top {
      padding: 5px 0;
      margin-top: -3px;
      left: 50%;
      margin-left: -32px; }
      .content .tooltip.top .tooltip-inner {
        max-width: 200px;
        width: 64px; }
      .content .tooltip.top .tooltip-arrow {
        bottom: 0;
        left: 50%;
        margin-left: -5px;
        border-width: 5px 5px 0;
        border-top-color: #000; }
    .content .tooltip.bottom {
      padding: 5px 0;
      margin-top: 3px; }
      .content .tooltip.bottom .tooltip-arrow {
        top: 0;
        left: 50%;
        margin-left: -5px;
        border-width: 0 5px 5px;
        border-bottom-color: #000; }
  .content .tag-btn {
    border-radius: 4px;
    width: 60px;
    height: 28px;
    display: inline-block;
    outline: none;
    font-size: 12px;
    cursor: pointer;
    background: #ffffff;
    border: 1px solid #e6ecef;
    color: #99aabb; }
    .content .tag-btn.sure-btn {
      background: #03a9f4;
      color: #ffffff;
      margin-left: 10px; }
    .content .tag-btn.cancel-btn {
      background: #ffffff;
      border: 1px solid #e6ecef;
      color: #99aabb;
      margin-left: 10px; }
  .content .add-tag-line .add-tag-input {
    height: 28px;
    border: solid 1px #03a9f4;
    outline: none;
    width: 120px;
    padding-left: 15px;
    border-radius: 4px; }
  .content .tag-content .tag-display {
    margin-top: 10px;
    margin-right: 10px; }
  .content .tag-content .text-tag {
    line-height: 28px;
    width: auto;
    padding: 0 10px;
    position: relative; }
    .content .tag-content .text-tag:hover {
      background: #e6ecef; }
    .content .tag-content .text-tag .delete-alert {
      display: none; }
      .content .tag-content .text-tag .delete-alert .tooltip-arrow {
        border-bottom-color: rgba(150, 150, 150, 0.18);
        left: 15px; }
        .content .tag-content .text-tag .delete-alert .tooltip-arrow::after {
          position: absolute;
          display: block;
          width: 0;
          height: 0;
          border-color: transparent;
          border-style: solid;
          content: "";
          border-width: 10px;
          top: 1px;
          margin-left: -10px;
          border-top-width: 0;
          border-bottom-color: #fff; }
      .content .tag-content .text-tag .delete-alert .tooltip-inner {
        padding: 10px 15px;
        text-align: left;
        max-width: inherit;
        background: #ffffff;
        border: 1px solid rgba(150, 150, 150, 0.18);
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.14);
        border-radius: 2px;
        width: 230px;
        height: 108px; }
        .content .tag-content .text-tag .delete-alert .tooltip-inner .tooltip-title {
          color: #334455;
          letter-spacing: 0;
          line-height: 18px;
          margin-top: 5px;
          font-weight: 700; }
        .content .tag-content .text-tag .delete-alert .tooltip-inner .tooltip-describe {
          color: #667788;
          letter-spacing: 0;
          line-height: 18px;
          margin-top: 5px; }
        .content .tag-content .text-tag .delete-alert .tooltip-inner .tooltip-button {
          margin-top: 20px; }
          .content .tag-content .text-tag .delete-alert .tooltip-inner .tooltip-button .sure-delete {
            color: #03a9f4;
            letter-spacing: 0;
            line-height: 18px;
            text-align: left; }
          .content .tag-content .text-tag .delete-alert .tooltip-inner .tooltip-button .cancel-delete {
            color: #99aabb;
            letter-spacing: 0;
            line-height: 18px;
            text-align: left;
            margin-left: 15px; }
    .content .tag-content .text-tag .delete-btn {
      margin-left: 10px;
      line-height: 25px;
      font-size: 20px;
      font-weight: 700;
      text-shadow: 0 1px 0 #fff;
      display: none; }
    .content .tag-content .text-tag .show-alert {
      display: block;
      opacity: 1;
      bottom: -125px;
      right: -200px; }
    .content .tag-content .text-tag:hover .delete-btn {
      display: inline-block; }
    .content .tag-content .text-tag:hover .tooltip.top {
      opacity: 1;
      bottom: 33px; }
  .content .page-inner {
    width: 96%;
    margin: 0 auto;
    padding-top: 36px;
    padding-bottom: 13px; }
    .content .page-inner .page-content {
      width: 100%;
      background: #f5f5f5;
      border: 1px solid #dbdbdb; }
      .content .page-inner .page-content .table-head {
        height: 36px;
        line-height: 36px;
        text-align: left;
        background: #EEE;
        border-bottom: 1px solid #dbdbdb; }
        .content .page-inner .page-content .table-head > i {
          display: inline-block;
          background: url("../images/icon-1.png") no-repeat center center;
          background-size: 16px 14px;
          width: 12px;
          height: 36px;
          vertical-align: top;
          border-right: 1px solid #dbdbdb;
          padding: 0 10px;
          margin: 0 5px 0 0; }
      .content .page-inner .page-content .table-cont {
        width: 100%;
        background: #FFF;
        padding-bottom: 30px; }
        .content .page-inner .page-content .table-cont .content-table {
          width: 93%; }
          .content .page-inner .page-content .table-cont .content-table > tbody > tr > td {
            background: #FFF;
            height: 53px;
            font-size: 13px;
            color: #666;
            position: relative; }
            .content .page-inner .page-content .table-cont .content-table > tbody > tr > td:nth-child(2n+1) {
              width: 13%;
              text-align: right;
              padding-right: 10px; }
            .content .page-inner .page-content .table-cont .content-table > tbody > tr > td:nth-child(2n) {
              width: 37%; }
              .content .page-inner .page-content .table-cont .content-table > tbody > tr > td:nth-child(2n) > input {
                width: 79%;
                height: 27px;
                border: 1px solid #dbdbdb;
                outline: 0px; }
                .content .page-inner .page-content .table-cont .content-table > tbody > tr > td:nth-child(2n) > input:focus {
                  border: 1px solid #0088cc;
                  box-shadow: 0px 0px 3px #0088cc; }
                .content .page-inner .page-content .table-cont .content-table > tbody > tr > td:nth-child(2n) > input.error-i {
                  border: 1px solid #b74b4b;
                  box-shadow: 0px 0px 3px #b74b4b;
                  animation: light .3s ease-in-out; }
                .content .page-inner .page-content .table-cont .content-table > tbody > tr > td:nth-child(2n) > input#working-hours {
                  width: 73%; }
              .content .page-inner .page-content .table-cont .content-table > tbody > tr > td:nth-child(2n) > i.error-icon {
                display: inline-block;
                width: 12px;
                height: 12px;
                background: url("../images/messageerror.png") no-repeat;
                margin: 0 0 0 10px;
                visibility: hidden; }
              .content .page-inner .page-content .table-cont .content-table > tbody > tr > td:nth-child(2n) > select {
                width: 80%;
                height: 27px; }
            .content .page-inner .page-content .table-cont .content-table > tbody > tr > td > a.error-msg {
              position: absolute;
              left: 60%;
              top: 18px;
              color: #b74b4b;
              visibility: hidden; }
            .content .page-inner .page-content .table-cont .content-table > tbody > tr > td > a.r-name {
              padding: 3px 5px;
              background: #0088cc;
              color: #FFF;
              font-size: 12px;
              margin: 0 5px 0 0; }
            .content .page-inner .page-content .table-cont .content-table > tbody > tr > td > l.error {
              display: inline-block;
              color: #b74b4b;
              vertical-align: top;
              margin: 5px 0 0 5px;
              visibility: hidden; }
            .content .page-inner .page-content .table-cont .content-table > tbody > tr > td.show-error > span {
              color: #b74b4b; }
            .content .page-inner .page-content .table-cont .content-table > tbody > tr > td.show-error > l.error {
              visibility: visible; }
            .content .page-inner .page-content .table-cont .content-table > tbody > tr > td.show-error > select {
              border: 1px solid #b74b4b;
              box-shadow: 0px 0px 3px #b74b4b; }
          .content .page-inner .page-content .table-cont .content-table > tbody > tr.area {
            height: 101px; }
            .content .page-inner .page-content .table-cont .content-table > tbody > tr.area > td:nth-child(2) {
              width: 87%; }
              .content .page-inner .page-content .table-cont .content-table > tbody > tr.area > td:nth-child(2) > textarea {
                width: 91%;
                border: 1px solid #dbdbdb;
                height: 75px;
                outline: 0px; }
                .content .page-inner .page-content .table-cont .content-table > tbody > tr.area > td:nth-child(2) > textarea.error-i {
                  border: 1px solid #b74b4b;
                  box-shadow: 0px 0px 3px #b74b4b; }
      .content .page-inner .page-content .buttons {
        text-align: right;
        width: 93%;
        padding: 20px 0;
        text-align: center; }
        .content .page-inner .page-content .buttons > button, .content .page-inner .page-content .buttons a {
          width: 86px;
          height: 28px;
          line-height: 28px;
          border-radius: 5px;
          color: #FFF;
          background: #009ff2;
          display: inline-block;
          cursor: pointer; }
          .content .page-inner .page-content .buttons > button.cancel, .content .page-inner .page-content .buttons a.cancel {
            background: #FFF;
            border: 1px solid #d9e2e7;
            color: #2e3f51; }

.btn {
  width: 86px;
  height: 28px;
  background: #03a9f4;
  border-radius: 4px;
  border: 1px solid #03a9f4;
  color: #FFF;
  outline: 0px;
  display: inline-block;
  text-align: center;
  line-height: 28px;
  cursor: pointer; }

.page-list > a {
  float: left;
  width: 30px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  background: #f5f5f5;
  color: #a5a5a5;
  text-decoration: none;
  border: 1px solid #dbdbdb;
  border-right: 0px; }
  .page-list > a:hover {
    background: #FFF;
    color: #0088cc; }
  .page-list > a.page-pre, .page-list > a.page-next {
    width: 59px; }
  .page-list > a.page-pre {
    padding: 0 0 0 8px;
    background: url("../images/pre-g.png") no-repeat 12px center;
    border-right: 1px solid #dbdbdb;
    background-size: 6px 7px; }
    .page-list > a.page-pre:hover {
      background: url("../images/pre-b.png") no-repeat 12px center;
      background-size: 6px 7px; }
  .page-list > a.page-next {
    margin: 0 10px 0 10px;
    border-right: 1px solid #dbdbdb;
    padding: 0 0 0 8px;
    background: url("../images/next-g.png") no-repeat 12px center;
    background-size: 6px 7px; }
    .page-list > a.page-next:hover {
      background: url("../images/next-b.png") no-repeat 12px center;
      background-size: 6px 7px; }
.page-list > span {
  float: left;
  line-height: 30px;
  height: 30px; }
  .page-list > span:nth-child(2) {
    margin: 0 10px; }
.page-list > input {
  float: left;
  height: 24px;
  line-height: 24px;
  width: 30px;
  outline: 0px; }
.page-list > button {
  width: 36px;
  height: 26px;
  background: #03a9f4;
  border: 1px solid #03a9f4;
  color: #FFF;
  outline: 0px;
  display: inline-block;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
  float: left;
  margin: 0 0 0 5px; }

aside.aside .logo {
  width: 100%;
  height: 120px;
  font-size: 23px;
  line-height: 120px;
  color: #FFF;
  text-align: left;
  padding-left: 90px;
  background: url("../images/logo.png") no-repeat 20px center;
  background-size: 40px; }
aside.aside .menu {
  width: 100%; }
  aside.aside .menu .menu-first {
    width: 100%;
    height: 43px;
    line-height: 43px;
    color: #FFF;
    cursor: pointer;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 1px; }
    aside.aside .menu .menu-first > span {
      float: right;
      width: 0px;
      height: 0px;
      border: 7px solid #FFF;
      border-left-color: transparent;
      border-bottom-color: transparent;
      border-right-color: transparent;
      transform: rotate(90deg);
      margin: 14px 0 0 0;
      display: none; }
    aside.aside .menu .menu-first:hover > span, aside.aside .menu .menu-first.current > span {
      display: block; }
    aside.aside .menu .menu-first > i {
      display: inline-block;
      vertical-align: top;
      width: 12px;
      height: 12px;
      margin: 15px 12px 0 18px; }
      aside.aside .menu .menu-first > i.dash {
        background: url("../images/Dashboard.png") no-repeat;
        background-size: 12px 12px; }
      aside.aside .menu .menu-first > i.project {
        background: url("../images/project-manage.png") no-repeat;
        background-size: 12px 12px; }
      aside.aside .menu .menu-first > i.need {
        background: url("../images/need-mange.png") no-repeat;
        background-size: 12px 12px; }
      aside.aside .menu .menu-first > i.system {
        background: url("../images/system.png") no-repeat;
        background-size: 12px 12px; }
  aside.aside .menu .menu-second {
    width: 100%; }
    aside.aside .menu .menu-second > dd {
      width: 100%;
      height: 42px;
      line-height: 42px;
      color: #FFF; }
      aside.aside .menu .menu-second > dd > a {
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        padding-left: 42px;
        height: 42px;
        line-height: 42px;
        color: rgba(255, 255, 255, 0.6); }
        aside.aside .menu .menu-second > dd > a:hover, aside.aside .menu .menu-second > dd > a.current {
          background: #0088cc;
          color: #fff; }

.share-box {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  background: #ffffff; }
  .share-box .exportItem > tbody > tr > td > input, .share-box .exportItem > tbody > tr > td > select {
    width: 60%;
    height: 25px;
    border: 1px solid #d5e0e6; }
  .share-box .success-text {
    font-size: 18px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    color: #5cb85c; }
  .share-box .relative-title {
    background: #0088cc;
    height: 46px;
    border-bottom: 1px solid #dbdbdb;
    text-align: center;
    line-height: 46px;
    font-size: 16px;
    color: #FFF; }
  .share-box .con-box {
    margin: 15px 20px 0 20px;
    border-bottom: 0px; }
    .share-box .con-box .search {
      height: 34px;
      width: 100%;
      border: 1px solid #0088cc;
      border-radius: 5px; }
      .share-box .con-box .search .icon {
        height: 34px;
        width: 40px;
        background: url("../images/serach.png") no-repeat center center #f0f2f5;
        background-size: 16px 16px;
        border-radius: 5px; }
      .share-box .con-box .search > input {
        height: 34px;
        width: 80%;
        border: 0px;
        outline: 0px;
        padding: 0 0 0 5px;
        width: 60%;
        height: 25px;
        border: 1px solid #d5e0e6; }
    .share-box .con-box .search-box {
      overflow-y: scroll;
      max-height: 185px;
      border: 1px solid #e7eaee;
      margin: 20px 0 0 0;
      display: none; }
    .share-box .con-box .search-table {
      width: 100%; }
      .share-box .con-box .search-table > tbody > tr > td {
        height: 36px;
        text-align: left; }
        .share-box .con-box .search-table > tbody > tr > td:nth-child(1) {
          width: 50%;
          text-align: left; }
          .share-box .con-box .search-table > tbody > tr > td:nth-child(1) > label > input {
            margin: 0 5px; }
        .share-box .con-box .search-table > tbody > tr > td:nth-child(2), .share-box .con-box .search-table > tbody > tr > td:nth-child(3) {
          color: #777777;
          font-size: 12px; }
      .share-box .con-box .search-table > tbody > tr {
        cursor: pointer; }
        .share-box .con-box .search-table > tbody > tr:hover, .share-box .con-box .search-table > tbody > tr.current {
          background: #efefef; }
  .share-box .buttons {
    text-align: center;
    margin: 15px 0 10px 0; }
    .share-box .buttons > a {
      width: 124px;
      height: 40px;
      line-height: 40px;
      background: #0088cc;
      border: 1px solid #dbdbdb;
      color: #FFF;
      display: inline-block;
      cursor: pointer; }
      .share-box .buttons > a.cancel {
        background: #e1e4e9;
        color: #8f9399;
        margin: 0 10px 0 0; }

.file-name {
  color: #dbdbdb;
  padding: 0 0 0 2%;
  display: inline-block;
  vertical-align: top;
  margin: 6px 0 0 0; }

.format {
  color: #ddd; }

.addAttachment {
  color: #0088cc;
  padding: 0 0 0 2%;
  display: inline-block;
  vertical-align: top;
  margin: 6px 0 0 0; }

.addAttachmentList {
  width: 92%; }
  .addAttachmentList > li {
    height: 30px;
    line-height: 30px;
    width: 100%; }
    .addAttachmentList > li > div {
      color: #666;
      display: inline-block;
      line-height: 30px;
      height: 30px;
      width: 98%;
      padding: 0 0 0 0%; }
      .addAttachmentList > li > div > .delete {
        line-height: 30px;
        color: #0088cc;
        padding-left: 100px;
        visibility: hidden; }
      .addAttachmentList > li > div:hover {
        background: #f2f2f2;
        color: #666;
        cursor: pointer; }
        .addAttachmentList > li > div:hover > span, .addAttachmentList > li > div:hover > a {
          visibility: visible;
          cursor: pointer; }

.a-upload {
  position: relative;
  display: inline-block;
  background: #D0EEFF;
  border: 1px solid #99D3F5;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #1E88C7;
  text-decoration: none;
  text-indent: 0;
  line-height: 20px;
  width: 80px;
  height: 17px; }

.a-upload input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0; }

.a-upload:hover {
  background: #AADFFD;
  border-color: #78C3F3;
  color: #004974;
  text-decoration: none; }

@keyframes light {
  0% {
    transform: translateX(0px); }
  10% {
    transform: translateX(1px); }
  20% {
    transform: translateX(2px); }
  30% {
    transform: translateX(1px); }
  40% {
    transform: translateX(0px); }
  50% {
    transform: translateX(-1px); }
  60% {
    transform: translateX(-2px); }
  80% {
    transform: translateX(-1px); }
  100% {
    transform: translateX(0px); } }
.red-start {
  color: #ed8073; }

.search-box {
  width: 70%;
  margin: 0 0 0 15%; }
  .search-box > h3 {
    color: #053c4b;
    height: 35px;
    margin: 20px 0 0 0; }
  .search-box .search-input {
    width: 100%;
    height: 27px;
    background: url("../images/t-2.png") no-repeat 5px center;
    border: 1px solid #d5e0e6; }
    .search-box .search-input > input {
      height: 25px;
      width: 95%;
      margin: 0 0 0 25px;
      border: 0px; }
    .search-box .search-input form {
      height: 25px;
      width: 100%; }
      .search-box .search-input form #serchkeywords {
        height: 25px;
        width: 95%;
        margin: 0 0 0 25px;
        border: 0px; }
  .search-box .show-box {
    width: 100%;
    height: 200px;
    background: #ffffff;
    border: 1px solid rgba(150, 150, 150, 0.18);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.14);
    margin: 5px 0 30px 0;
    color: #667788; }
    .search-box .show-box > ul.key-list {
      font-size: 12px;
      color: #667788;
      text-align: left;
      margin: 15px 0 0 15px; }
      .search-box .show-box > ul.key-list > li {
        line-height: 25px;
        cursor: pointer; }
    .search-box .show-box .select-area {
      height: 200px;
      overflow: hidden; }
      .search-box .show-box .select-area .wap {
        float: left;
        width: auto;
        overflow-y: scroll;
        height: 200px; }
        .search-box .show-box .select-area .wap > ul {
          width: auto; }
          .search-box .show-box .select-area .wap > ul > li {
            line-height: 30px;
            height: 30px;
            padding: 0 10px;
            cursor: pointer; }
            .search-box .show-box .select-area .wap > ul > li > i {
              display: inline-block;
              width: 7px;
              height: 4px;
              margin: 0 0 0 10px; }
            .search-box .show-box .select-area .wap > ul > li:hover, .search-box .show-box .select-area .wap > ul > li.current {
              background: #e6ecef; }
  .search-box .btns {
    margin: 10px 0; }

.creat-pro {
  width: 96%;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 13px;
  background: #FFF;
  border: 1px solid #dbdbdb; }
  .creat-pro .pro-head {
    background: #eeeeee;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    color: #112233; }
    .creat-pro .pro-head > i {
      display: inline-block;
      background: url(../images/icon-3.png) no-repeat center center;
      background-size: 16px 14px;
      width: 16px;
      height: 36px;
      vertical-align: top;
      margin: 0 5px 0 20px; }
  .creat-pro .steps {
    background: #f5f5f5;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.07);
    width: 100%;
    height: 111px;
    position: relative; }
    .creat-pro .steps .line {
      width: 50%;
      height: 1px;
      position: absolute;
      top: 50px;
      margin-left: 25%;
      z-index: 1; }
      .creat-pro .steps .line > i {
        width: 50%;
        background: #91a3b9;
        height: 1px;
        display: inline-block;
        position: absolute; }
        .creat-pro .steps .line > i:nth-child(2) {
          left: 50%; }
        .creat-pro .steps .line > i.done {
          background: #009ff2; }
    .creat-pro .steps .circle {
      width: 50%;
      margin: 0 auto;
      position: absolute;
      height: 22px;
      margin-top: 38px;
      z-index: 2;
      left: 25%; }
      .creat-pro .steps .circle > p {
        width: 22px;
        height: 22px;
        border-radius: 100%;
        background: #FFF;
        border: 1px solid #91a3b9;
        color: #91a3b9;
        text-align: center;
        line-height: 22px;
        position: absolute; }
        .creat-pro .steps .circle > p:nth-child(2) {
          left: 50%;
          margin-left: -11px; }
        .creat-pro .steps .circle > p:nth-child(3) {
          right: 0; }
        .creat-pro .steps .circle > p.done {
          background: #FFF;
          border: 1px solid #16a7f2;
          color: #16a7f2; }
    .creat-pro .steps .s-d {
      width: 50%;
      margin: 0 auto;
      position: absolute;
      height: 22px;
      margin-top: 64px;
      z-index: 2;
      left: 25%; }
      .creat-pro .steps .s-d > p {
        color: #91a3b9;
        position: absolute; }
        .creat-pro .steps .s-d > p:nth-child(1) {
          left: 0px; }
        .creat-pro .steps .s-d > p:nth-child(2) {
          left: 50%;
          margin-left: -24px; }
        .creat-pro .steps .s-d > p:nth-child(3) {
          right: 0px; }
        .creat-pro .steps .s-d > p.done {
          color: #16a7f2; }
  .creat-pro .pro-table {
    width: 65%;
    margin-left: 21%; }
    .creat-pro .pro-table > thead > tr > th {
      color: #053c4b;
      text-align: right;
      height: 35px; }
    .creat-pro .pro-table > tbody > tr > td {
      color: #99aabb;
      height: 40px; }
      .creat-pro .pro-table > tbody > tr > td:nth-child(2n+1) {
        text-align: right;
        padding: 0 5px 0 0; }
      .creat-pro .pro-table > tbody > tr > td:nth-child(2n) > input {
        width: 42%;
        height: 25px;
        border: 1px solid #d5e0e6; }
      .creat-pro .pro-table > tbody > tr > td:nth-child(2n) > select, .creat-pro .pro-table > tbody > tr > td:nth-child(2n) > input.short {
        width: 28%;
        height: 25px;
        border: 1px solid #d5e0e6; }
      .creat-pro .pro-table > tbody > tr > td .number {
        width: 105px;
        height: 25px;
        border-radius: 5px;
        border: 1px solid #d9e2e7; }
        .creat-pro .pro-table > tbody > tr > td .number > input {
          height: 25px;
          width: 43px;
          border: 0px;
          border-left: 1px solid #d5e0e6;
          border-right: 1px solid #d5e0e6; }
        .creat-pro .pro-table > tbody > tr > td .number > a {
          width: 30px;
          height: 25px;
          text-align: center;
          line-height: 25px;
          display: block; }

.finish {
  text-align: center; }
  .finish > li {
    margin: 15px 0; }
    .finish > li p.success {
      font-size: 16px;
      height: 24px;
      line-height: 28px;
      color: #66bb6a; }
      .finish > li p.success > i {
        width: 24px;
        height: 24px;
        border-radius: 100%;
        background: url("../images/t-3.png") no-repeat #66bb6a;
        background-position: 4px 7px;
        display: inline-block;
        vertical-align: top;
        margin: 0 10px 0 0; }
    .finish > li:nth-child(2) {
      font-size: 14px;
      color: #99aabb; }

.pro-btn {
  width: 96px;
  height: 30px;
  display: inline-block;
  border: 1px solid #d9e2e7;
  border-radius: 5px;
  color: #2e3f51;
  text-align: center;
  line-height: 30px;
  cursor: pointer; }

.pro-sure {
  background: #edf0f1;
  color: #FFF;
  border: 1px solid #edf0f1; }

.pro-sure-can {
  background: #009ff2; }

.error-i {
  border: 1px solid #b74b4b !important;
  box-shadow: 0px 0px 3px #b74b4b;
  animation: light .3s ease-in-out; }

@keyframes light {
  0% {
    transform: translateX(0px); }
  10% {
    transform: translateX(1px); }
  20% {
    transform: translateX(2px); }
  30% {
    transform: translateX(1px); }
  40% {
    transform: translateX(0px); }
  50% {
    transform: translateX(-1px); }
  60% {
    transform: translateX(-2px); }
  80% {
    transform: translateX(-1px); }
  100% {
    transform: translateX(0px); } }

/*# sourceMappingURL=creat-pro.css.map */
