@charset "UTF-8";
.calendar-input {
  width: 200px;
  height: 28px; }

.charts-title {
  font-weight: bold;
  font-size: 13px;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  color: #005777; }

/*拜访*/
.visit-chart-box {
  background: #FFF;
  width: 100%;
  height: 300px;
  margin-bottom: 20px; }
  .visit-chart-box .visit-title {
    width: 15%; }
    .visit-chart-box .visit-title > table {
      width: 100%;
      height: 100px;
      margin: 80px 0 0 0; }
      .visit-chart-box .visit-title > table > tbody > tr > td {
        text-align: center;
        color: #6d6d6d; }
  .visit-chart-box .visit-chart-container .visit-chart {
    width: 28%;
    height: 260px; }

.use-chart-box {
  background: #FFF;
  border: 1px solid #e1e1e1;
  width: 100%;
  margin-bottom: 20px;
  height: 300px; }
  .use-chart-box .use-chart {
    width: 20%;
    height: 260px;
    margin: 0 0 0 5%; }
    .use-chart-box .use-chart > table {
      width: 80%;
      height: 210px;
      margin: 25px 0 0 5%; }
      .use-chart-box .use-chart > table > tbody > tr > td {
        height: 70px;
        text-align: center;
        color: #6d6d6d; }
  .use-chart-box .use-mark {
    width: 65%;
    height: 260px;
    margin-left: 5%; }

.chart-open-account {
  background: #FFF;
  border: 1px solid #e1e1e1;
  width: 100%;
  margin-bottom: 20px;
  height: 300px; }
  .chart-open-account .account-box {
    width: 48%;
    height: 260px;
    position: relative; }
    .chart-open-account .account-box .open-account {
      width: 60%;
      height: 260px; }
    .chart-open-account .account-box .line-turn {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      animation: lineTurn 0.5s linear 1.2s;
      animation-fill-mode: forwards; }
    .chart-open-account .account-box .columnar {
      width: 200px;
      height: 200px;
      margin: 30px 0 0 0;
      opacity: 0;
      animation: lineTurn 0.5s linear 1.7s;
      animation-fill-mode: forwards; }
      .chart-open-account .account-box .columnar .col {
        width: 100%;
        height: 20%; }
        .chart-open-account .account-box .columnar .col .col-area {
          width: 40px;
          height: 100%; }
        .chart-open-account .account-box .columnar .col .name {
          margin: 0 0 0 10px; }
        .chart-open-account .account-box .columnar .col.col-1 .col-area {
          background: #5aa3e8; }
        .chart-open-account .account-box .columnar .col.col-1 .name {
          color: #5aa3e8; }
        .chart-open-account .account-box .columnar .col.col-2 .col-area {
          background: #75b2eb; }
        .chart-open-account .account-box .columnar .col.col-2 .name {
          color: #75b2eb; }
        .chart-open-account .account-box .columnar .col.col-3 .col-area {
          background: #a6cdf2; }
        .chart-open-account .account-box .columnar .col.col-3 .name {
          color: #a6cdf2; }
        .chart-open-account .account-box .columnar .col.col-4 .col-area {
          background: #c4def7; }
        .chart-open-account .account-box .columnar .col.col-4 .name {
          color: #c4def7; }
        .chart-open-account .account-box .columnar .col.col-5 .col-area {
          background: #d7e8f9; }
        .chart-open-account .account-box .columnar .col.col-5 .name {
          color: #d7e8f9; }

@keyframes lineTurn {
  to {
    opacity: 1; } }

.entryAndPerfecting {
  width: 100%;
  margin-bottom: 20px; }
  .entryAndPerfecting .entry-perfecting-box {
    background: #FFF;
    border: 1px solid #e1e1e1;
    height: 300px;
    width: 48%; }
    .entryAndPerfecting .entry-perfecting-box .entry-perfecting-container {
      width: 100%; }
    .entryAndPerfecting .entry-perfecting-box .entry-perfecting-title {
      width: 30%; }
      .entryAndPerfecting .entry-perfecting-box .entry-perfecting-title > table {
        width: 100%;
        height: 100px;
        margin: 80px 0 0 0; }
        .entryAndPerfecting .entry-perfecting-box .entry-perfecting-title > table > tbody > tr > td {
          text-align: center;
          color: #6d6d6d; }
    .entryAndPerfecting .entry-perfecting-box .entry-perfecting-chart {
      width: 70%;
      height: 260px; }

.currentAndAdd {
  width: 100%;
  margin-bottom: 20px;
  height: 300px;
  border: 1px solid #e1e1e1;
  background: #FFF; }
  .currentAndAdd .current-add-box {
    width: 50%;
    height: 100%; }
    .currentAndAdd .current-add-box .current-add-container {
      width: 100%;
      height: calc(100% - 40px); }
