@import "common.scss";
//内容
.content{
  .page-inner{
    .commit-new-item{
      margin: 0 0 30px 0 ;
    }
    .page-content{
      .table-head{
        font-size: 14px;
        color: #555;
        >div.document-name{
          margin-left: 2%;
          >i{
            background: url("../images/bug-t.png") no-repeat center center;
            background-size: 14px 16px;
            display: inline-block;
            width: 14px;
            height: 16px;
            vertical-align: top;
            margin:10px 5px 0 0;
          }
        }
        >div.edit{
          font-size: 14px;
          color: #555;
          margin: 0 2% 0 0;
          cursor: pointer;
          .sure{
            color: $color-blue;
            margin: 0 5px 0;
          }
        }
      }
      .table-cont{
        .content-table{
          //width: 94%;
          margin: 0 auto;
          >tbody>tr{
            &.tr-come{
              //height: 61px;
              //color: #888;
              >td{
                //height:42px;
                //border-bottom: 1px solid #e2e2e2;
                >div>input{
                  height: 26px;
                  border: 1px solid #dbdbdb;
                  outline: 0px;
                }
              }
            }
            &.tr-status{
              height: 100px;
              >td{
                height: 100px!important;
              }
              >td>div{
                width: 100%;
                text-align: left;
                height: 30px;
                &:nth-child(1){
                  font-size: 18px;
                  color: #222;
                  height: 28px;
                  line-height: 28px;
                  .rate{
                    display: inline-block;
                    height: 25px;
                    width: 80px;
                    font-size: 14px;
                    color: #56d167;
                    margin: 0 0 0 30px;
                    >i{
                      width: 28px;
                      height: 28px;
                      display: inline-block;
                      vertical-align: top;
                      background: url("../images/bug-s.png") no-repeat center center #56d167;
                      background-size: 14px 13px;
                      border-radius: 28px;
                      margin: 0 5px 0 0 ;
                    }
                  }
                }
                &:nth-child(2){
                  .label-q{
                    padding: 2px 5px;
                    border: 1px solid #fd6769;
                    border-radius: 3px;
                    color: #fd6769;
                    display: inline-block;
                    vertical-align: middle;
                  }
                  .label-y{
                    padding: 2px 5px;
                    border: 1px solid #888;
                    border-radius: 3px;
                    color: $color-white;
                    background: #888;
                    display: inline-block;
                    vertical-align: middle;
                  }
                }
              }
            }
            &>td{
              background: #FFF;
              height:42px;
              font-size: 13px;
              color: $color-gray-6;


              &:nth-child(2n+1){
                //width: 10%;
                text-align: right;
                padding-right: 10px;
                font-size: 14px;
                color: #888;

              }
              &:nth-child(2n){
                //width: 90%;
                >input{
                  //width: 30%;
                  height: 26px;
                  border: 1px solid $color-gray-d;
                  outline: 0px;
                  &:focus{
                    border: 1px solid $color-blue;
                    box-shadow: 0px 0px 3px $color-blue;
                  }
                }
                >select{
                  //width: 30%;
                  height: 27px;
                }
              }
              >a.r-name{
                padding: 3px 5px;
                background: $color-blue;
                color: $color-white;
                font-size: 12px;
                margin: 0 5px 0 0;
              }
              >l.error{
                display: inline-block;
                color: $color-red;
                vertical-align: top;
                margin: 5px 0 0 5px;
                visibility: hidden;
              }
              &.show-error{
                >span{
                  color: $color-red;
                }
                >l.error{
                  visibility: visible;
                }
                >select{
                  border: 1px solid $color-red;
                  box-shadow: 0px 0px 3px $color-red;
                }
              }

            }
            &.area{
              height: 101px;
              >td:nth-child(2) {
                width: 87%;
                > textarea {
                  width: 91%;
                  border: 1px solid $color-gray-d;
                  height: 75px;
                  outline: 0px;
                }
              }
            }
          }
        }
      }
      .back-table{
        width: 94%;
        margin: 0 auto;
        >tbody{
          >tr>td{
            height: 42px;
            &:nth-child(2n){
              width: 37%;
            }
            &:nth-child(2n+1){
              width: 13%;
            }
            >input,select{
              height: 26px;
              border: 1px solid #dbdbdb;
              outline: 0px;
              width: 80%;
            }
            >textarea{
              width: 91%;
              border: 1px solid #dbdbdb;
              height: 75px;
              outline: 0px;
            }
            .feed-confirm,.feed-cancel{
              width: 70px;
              height: 30px;
              text-align: center;
              line-height: 30px;
              border:1px solid #cccccc;
              background: #eee;
              display: inline-block;
              color: #222;
              cursor: pointer;
            }
            .feed-cancel{
              background: none;
              border: 0px;
              color: $color-blue;
            }
          }
         >tr>th{
           height: 45px;
           .hr{
             width: 40%;
             height: 1px;
             background: #e2e2e2;
             position: absolute;
             top:22px;
             &:nth-child(1){
               left: 0px;
             }
             &:nth-child(3){
               right: 0px;
             }
           }
         }
        }
      }
      .table-log{
        width: 87%;
        margin: 20px 0 0 3.5%;
        >thead>tr{
          >th{
            text-align: left;
            padding: 8px 0;
            font-size: 14px;
            >span:nth-child(2){
              color: $color-gray-d;
              cursor: pointer;
            }
          }
        }
        >tbody >tr{
          //height: 94px;

          >td{
            border-top: 1px solid #e2e2e2;
            border-bottom: 1px solid #e2e2e2;
            padding: 8px 0;
            >span.name{
              font-size: 16px;
              color: #222;
            }
            >span.time{
              font-size: 14px;
              color: #888;
            }
            >span.opera{
              font-size: 14px;
              color: #888;
              padding: 0 10px;
            }
            >p.msg{
              background: #f5f5f5;
              color: #555;
              padding: 9px 10px;
              font-size: 14px;
              margin: 3px 0 0 0;
            }
          }
        }
      }
      .relative-list{
        width: 100%;
        >tbody>tr>th{
          height: 35px;
        }
        >tbody>tr>td{
          text-align: center;
          height: 30px;
          .delete{
            color:$color-blue;
            cursor: pointer;
          }
          >a{
            color:$color-blue;
          }
        }
        >tbody>tr.even{
          background: #f2f2f2;
        }
      }
    }
  }
}