*{
  margin: 0px;
  padding: 0px;
}
body,html{
  font-family: 'Helvetica Neue',Helvetica,Arial,'PingFang SC','Hiragino Sans GB','Microsoft YaHei','Simsun' ;
  height: 100%;
  font-size: 13px;
  .error-msg {
    color: #ed807c;
    margin-bottom: 5px;
  }
}
ul,li{
  list-style: none;
}
table{
  border-collapse: collapse;
}
input,select,textarea{
  outline: 0px;
  border:1px solid #dbdbdb;
}
a{
  text-decoration: none;
}
.clear:after{
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.left{
  float: left;
}
.right{
  float: right;
}
.red-start{
  color: #b74b4b;
}
$color-black:#1f262d;
$color-white:#FFF;
$color-gray:#EEE;
$color-gray-d:#dbdbdb;
$color-gray-6:#666;
$color-blue:#0088cc;
$color-red:#b74b4b;
//头部
header.header{
  width: 85%;
  height: 42px;
  background: $color-white;
  color: $color-black;
  position: fixed;
  top: 0px;
  left: 15%;
  z-index: 9;
  border-bottom:$color-gray 1px solid;
  >div{
    height:42px;
    position: relative;

  }
  div.t{

    position: absolute;
    height: 42px;
    width: 100%;
    right: 0;
    .icon{
      float: right;
      background: url(../images/icons.png) no-repeat 18px center;
      background-position-x: 0px;
      background-position-y: -173px;
      width: 11px;
      height: 11px;
      line-height: 11px;
      margin: 15px 5px 0 0;
      //border-left: 1px solid #e2e2e2;
    }
    .role{
      float: right;
      height: 42px;
      line-height:42px;
      margin: 0 20px 0 0;

    }
    //>span{
    //  position: absolute;
    //  vertical-align: top;
    //  width: 14px;
    //  height: 14px;
    //  line-height: 14px;
    //  font-size: 12px;
    //  text-align: center;
    //  border-radius: 14px;
    //  top:2px;
    //  right: 7px;
    //  background: #fd6769;
    //  color: #FFF;
    //}
    &:after{
      content: '';
      position: absolute;
      width: 1px;
      height: 42px;
      top:0px;
      left: 1px;
      background: #e2e2e2;
    }
  }
  .head-down {
    position: absolute;
    top: 42px;
    z-index: 9;
    right: 0;
    width: 120px;
    padding: 20px 20px 10px 20px;
    border-top: 0;
    background: $color-white;
    box-shadow:0px 3px 3px rgba(0,0,0,.2);
    display: none;
    li {
      text-align: center;
      margin-bottom: 10px;
      a {
        display: block;
        color: $color-black;
      }
    }
  }
  //.right-user:hover .head-down{
  //}
  .right-user{
    width: 40%;
    &:hover .head-down{
      display: block;
    }
  }
  .header-info{
    color: #334455;
    font-size: 16px;
    line-height: 42px;
    width: 60%;
    >i{
      display: inline-block;
      vertical-align: top;
      background: url("../images/icons.png") no-repeat center center;
      background-position: 0 -145px;
      width: 11px;
      height:11px;
      margin: 14px 0 0 12px;
    }
    >a{
      color: #334455;
      text-decoration: none;
      padding: 0 0 0 10px;
      line-height: 42px;
      cursor: pointer;
      &:hover{
        color: $color-blue;
      }
    }
    span.user-area{
      color: #0a0909;
      padding: 0 0 0 35px;
    }
  }
}
//旁边
aside.aside{
  position: fixed;
  width: 15%;
  height: 100%;
  top:0px;
  background: $color-black;
}

//查询需求来源
.nee-source-box{
  width: 300px;
  height:28px;
  >input{
    width: 128px;
    height: 22px;
    border: 1px solid #dbdbdb;
    outline: 0px;
  }
  >button{
    background: #03a9f4;
    border: 0px;
    color: #FFF;
    outline: 0px;
    display: inline-block;
    text-align: center;
    line-height: 22px;
    cursor: pointer;
    width: 60px;
    height: 22px;
    margin: 0 5px 0 5px;
  }
  >select{
    width: 100px;
    height: 24px;
    border: 1px solid #dbdbdb;
    outline: 0px;
  }
}

//内容
.content{
  background-color: #F2F5F6;
  width: 85%;
  margin-left: 15%;
  margin-top: 42px;
  .page-header{
    height: 30px;
    background: $color-white;
    border: 1px solid #eaeaea;
    .header-info{
      color: #0f0f0f;
      >i{
        display: inline-block;
        vertical-align: top;
        background: url("../images/home.png") no-repeat center center;
        background-size: 11px 11px;
        width: 11px;
        height:11px;
        margin: 9px 0 0 5px;
      }
      >a{
        color: #0a0909;
        text-decoration: none;
        padding: 0 0 0 10px;
        line-height: 30px;
        &:hover{
          color: $color-blue;
        }
      }
      span.user-area{
        color: #0a0909;
        padding: 0 0 0 35px;
      }
    }
  }
  .page-title{
    width: 96%;
    margin: 0 auto;
    height: 71px;
    line-height: 71px;
    border-bottom: 2px solid $color-gray-d;
    color: #555;
    font-size: 24px;
  }
  .display-middle {
    display: inline-block;
    vertical-align: middle;
  }
  .quarters-text {
    font-size:14px;
    color:#112233;
    line-height:18px;
    font-weight: 700;
    margin-left: 8px;
  }
  .quarters-icon {
    background: url("../images/quarters-icon.png") no-repeat;
    width: 16px;
    height: 12px;
  }
  .organize-icon {
    background: url("../images/organize-icon.png") no-repeat;
    width: 16px;
    height: 15px;
  }
  .tree-content {
    ul {
      li {

        .tree-title {
          padding-top: 10px;
          padding-bottom: 10px;
          cursor: pointer;
          &.one {
            padding-left: 20px;
          }
          &.two {
            padding-left: 40px;
          }
          &.three {
            padding-left: 60px;
          }
          &.four {
            padding-left: 80px;
          }
          .tree-arrow {
            background: url("../images/tree-arrow-right.png") no-repeat;
            width: 8px;
            height: 13px;
            margin-right:5px;
            &.tree-arrow-bottom {
              background: url("../images/tree-arrow.png") no-repeat;
              width: 12px;
              height: 7px;
            }
            &.none-arrow {
              background: transparent;
            }
          }
          &.active {
            background:#e6ecef;
            box-shadow:inset 1px 0 0 0 #03a9f4;

          }
          &:hover {
            background:#e6ecef;
            box-shadow:inset 1px 0 0 0 #03a9f4;
          }
        }
        &.tree-none {
          >ul {
            display: none;
          }
        }
        &.tree-block {
          >ul {
            display: block;
          }
        }
      }
    }
  }
  .tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    filter: alpha(opacity=0);
    opacity: 0;
    line-break: auto;
    .tooltip-arrow {
      position: absolute;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;

    }
    .tooltip-inner {
      max-width: 200px;
      padding: 8px;
      color: #fff;
      text-align: center;
      background-color: #000;
      border-radius: 4px;
    }

    &.top {
      padding: 5px 0;
      margin-top: -3px;
      left: 50%;
      margin-left: -32px;
      .tooltip-inner {
        max-width: 200px;
        width: 64px;
      }
      .tooltip-arrow {
        bottom: 0;
        left: 50%;
        margin-left: -5px;
        border-width: 5px 5px 0;
        border-top-color: #000;
      }
    }
    &.bottom {
      padding: 5px 0;
      margin-top: 3px;
      .tooltip-arrow {
        top: 0;
        left: 50%;
        margin-left: -5px;
        border-width: 0 5px 5px;
        border-bottom-color: #000;
      }
    }
  }
  .tag-btn {
    border-radius: 4px;
    width: 60px;
    height: 28px;
    display: inline-block;
    outline: none;
    font-size: 12px;
    cursor: pointer;
    background: #ffffff;
    border: 1px solid #e6ecef;
    color: #99aabb;
    &.sure-btn {
      background: #03a9f4;
      color: #ffffff;
      margin-left: 10px;
    }
    &.cancel-btn {
      background: #ffffff;
      border: 1px solid #e6ecef;
      color: #99aabb;
      margin-left: 10px;
    }
  }
  .add-tag-line {
    .add-tag-input {
      height: 28px;
      border: solid 1px #03a9f4;
      outline: none;
      width: 120px;
      padding-left:15px;
      border-radius: 4px;
    }
  }
  .tag-content {
    .tag-display {
      margin-top: 10px;
      margin-right: 10px;
    }
    .text-tag {
      line-height: 28px;
      width: auto;
      padding: 0 10px;
      position: relative;
      &:hover {
        background:#e6ecef;
      }
      .delete-alert {
        display: none;
        .tooltip-arrow {
          border-bottom-color: rgba(150,150,150,0.18);
          left: 15px;
          &::after {
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            content: "";
            border-width: 10px;
            top: 1px;
            margin-left: -10px;
            border-top-width: 0;
            border-bottom-color: #fff;
          }
        }
        .tooltip-inner {
          padding: 10px 15px;
          text-align: left;
          max-width: inherit;
          background:#ffffff;
          border:1px solid rgba(150,150,150,0.18);
          box-shadow:0 10px 20px 0 rgba(0,0,0,0.14);
          border-radius:2px;
          width:230px;
          height:108px;
          .tooltip-title {
            color:#334455;
            letter-spacing:0;
            line-height:18px;
            margin-top: 5px;
            font-weight: 700;
          }
          .tooltip-describe {
            color:#667788;
            letter-spacing:0;
            line-height:18px;
            margin-top: 5px;
          }
          .tooltip-button {
            margin-top: 20px;
            .sure-delete {
              color:#03a9f4;
              letter-spacing:0;
              line-height:18px;
              text-align:left;
            }
            .cancel-delete {
              color:#99aabb;
              letter-spacing:0;
              line-height:18px;
              text-align:left;
              margin-left: 15px;
            }
          }

        }
      }
      .delete-btn {
        margin-left: 10px;
        line-height: 25px;
        font-size: 20px;
        font-weight: 700;
        text-shadow: 0 1px 0 #fff;
        display: none;
      }
      .show-alert{
        display: block;
        opacity: 1;
        bottom:-125px;
        right: -200px;
      }
      &:hover .delete-btn {
        display: inline-block;
      }
      &:hover .tooltip.top {
        opacity: 1;
        bottom:33px;
      }
    }
  }
  .page-inner{
    width: 96%;
    margin: 0 auto;
    //border-top: 2px solid $color-white;
    padding-top: 36px;
    padding-bottom: 13px;
    .page-content{
      width: 100%;
      background: #f5f5f5;
      border: 1px solid $color-gray-d;
      .table-head{
        height: 36px;
        line-height: 36px;
        text-align: left;
        background: $color-gray;
        border-bottom: 1px solid $color-gray-d;
        >i{
          display: inline-block;
          background: url("../images/icon-1.png") no-repeat center center;
          background-size: 16px 14px;
          width: 12px;
          height: 36px;
          vertical-align: top;
          border-right: 1px solid $color-gray-d;
          padding: 0 10px;
          margin: 0 5px 0 0;
        }
      }
      .table-cont{
        width: 100%;
        background: $color-white;
        padding-bottom: 30px;
        .content-table{
        width: 93%;
        >tbody>tr{
          &>td{
            background: #FFF;
            height:53px;
            font-size: 13px;
            color: $color-gray-6;
            position: relative;
            &:nth-child(2n+1){
              width: 13%;
              text-align: right;
              padding-right: 10px;
            }
            &:nth-child(2n){
              width: 37%;
              >input{
                width: 79%;
                height: 27px;
                border: 1px solid $color-gray-d;
                outline: 0px;
                &:focus{
                  border: 1px solid $color-blue;
                  box-shadow: 0px 0px 3px $color-blue;
                }
                &.error-i{
                  border: 1px solid $color-red;
                  box-shadow: 0px 0px 3px $color-red;
                  animation: light .3s ease-in-out;
                }
                &#working-hours {
                  width: 73%;
                }
              }
              >i.error-icon{
                display: inline-block;
                width: 12px;
                height: 12px;
                background:url('../images/messageerror.png') no-repeat;
                margin: 0 0 0 10px;
                visibility: hidden;
              }
              >select{
                width: 80%;
                height: 27px;
              }
            }
            >a.error-msg{
              position:absolute;
              left: 60%;
              top: 18px;
              color:$color-red;
              visibility: hidden;
            }
            >a.r-name{
              padding: 3px 5px;
              background: $color-blue;
              color: $color-white;
              font-size: 12px;
              margin: 0 5px 0 0;
            }
            >l.error{
              display: inline-block;
              color: $color-red;
              vertical-align: top;
              margin: 5px 0 0 5px;
              visibility: hidden;
            }
            &.show-error{
              >span{
                color: $color-red;
              }
              >l.error{
                visibility: visible;
              }
              >select{
                border: 1px solid $color-red;
                box-shadow: 0px 0px 3px $color-red;
              }
            }
          }
          &.area{
            height: 101px;
            >td:nth-child(2) {
              width: 87%;
              > textarea {
                width: 91%;
                border: 1px solid $color-gray-d;
                height: 75px;
                outline: 0px;
                &.error-i{
                  border: 1px solid $color-red;
                  box-shadow: 0px 0px 3px $color-red;
                }
              }
            }
          }
        }
      }
      }
      .buttons{
        text-align: right;
        width: 93%;
        padding: 20px 0;
        text-align: center;
        >button,a{
          width: 86px;
          height: 28px;
          line-height: 28px;
          border-radius: 5px;
          color: #FFF;
          background: #009ff2;
          display: inline-block;
          cursor: pointer;
          &.cancel{
            background: #FFF;

            border: 1px solid #d9e2e7;
            color: #2e3f51;

          }
        }
      }
    }
  }
}

.btn{
  width: 86px;
  height: 28px;
  background: #03a9f4;
  border-radius: 4px;
  border:1px solid #03a9f4;
  color: $color-white;
  outline: 0px;
  display: inline-block;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
}

//分页
.page-list{
  >a{
    float: left;
    width: 30px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    background: #f5f5f5;
    color: #a5a5a5;
    text-decoration: none;
    border: 1px solid $color-gray-d;
    border-right: 0px;
    &:hover{
      background: $color-white;
      color: $color-blue;
    }
    &.page-pre , &.page-next{
      width: 59px;
    }
    &.page-pre{
      padding: 0 0 0 8px;
      background: url("../images/pre-g.png") no-repeat 12px center;
      border-right: 1px solid $color-gray-d;
      background-size: 6px 7px;
      &:hover{
        background: url("../images/pre-b.png") no-repeat 12px center;
        background-size: 6px 7px;
      }
    }
    &.page-next{
      margin: 0 10px 0 10px;
      border-right: 1px solid $color-gray-d;
      padding: 0 0 0 8px;
      background: url("../images/next-g.png") no-repeat 12px center;
      background-size: 6px 7px;
      &:hover{
        background: url("../images/next-b.png") no-repeat 12px center;
        background-size: 6px 7px;
      }
    }
  }
  >span{
    float: left;
    line-height: 30px;
    height: 30px;
    &:nth-child(2){
      margin: 0 10px;
    }
  }
  >input{
    float: left;
    height: 24px;
    line-height: 24px;
    width: 30px;
    outline: 0px;

  }
  >button{
    width: 36px;
    height: 26px;
    background: #03a9f4;
    border: 1px solid #03a9f4;
    color: #FFF;
    outline: 0px;
    display: inline-block;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    float: left;
    margin: 0 0 0 5px;
  }
}

//menu
aside.aside{
  .logo{
    width: 100%;
    height: 120px;
    font-size: 23px;
    line-height: 120px;
    color: $color-white;
    text-align: left;
    padding-left:90px;
    background: url("../images/icons.png") no-repeat   10px 0px;
  }
  .menu{
    width: 100%;
    .menu-first{
      width: 100%;
      height: 43px;
      line-height: 43px;
      color: $color-white;
      cursor: pointer;
      border-top: 1px solid rgba(255,255,255,.1);
      margin-bottom: 1px;
      >span{
        float: right;
        width: 0px;
        height: 0px;
        border: 7px solid $color-white;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-right-color: transparent;
        transform: rotate(90deg);
        margin: 14px 0 0 0;
        display: none;
      }
      &:hover,&.current{        
        >span{
          display: block;
        }
      }
      >i{
        display: inline-block;
        vertical-align: top;
        width: 12px;
        height: 12px;
        margin: 15px 12px 0 18px;
        background-position-x: 0px;
        background-position-y: -120px;
        &.dash{
          background-image: url("../images/icons.png");

        }
        &.project{
          background-image: url("../images/icons.png") ;
        }
        &.need{
          background-image: url("../images/icons.png") ;
        }
        &.system{
          background-image: url("../images/icons.png");
        }
      }

    }
    .menu-second{
      width: 100%;
      >dd{
        width: 100%;
        height: 42px;
        line-height: 42px;
        color: $color-white;
        >a{
          display: inline-block;
          box-sizing: border-box;
          width: 100%;
          padding-left: 42px;
          height: 42px;
          line-height: 42px;
          color: rgba(255,255,255,.6);          
          &:hover,&.current{
            background: #0088cc;
            color: #fff;
          }
        }
      }
    }
  }
}

//弹框样式
.share-box{
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  background: #ffffff;
  // border: 1px solid $color-gray-d;
  .exportItem{
    >tbody>tr>td{
      >input,>select{width: 60%;
        height: 25px;
        border: 1px solid #d5e0e6;

      }
    }
  }
  .success-text {
    font-size: 18px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    color: #5cb85c;
  }
  .relative-title{
    background: #0088cc;
    height: 46px;
    border-bottom: 1px solid $color-gray-d;
    text-align: center;
    line-height: 46px;
    font-size: 16px;
    color:#FFF;
  }
  .con-box{
    margin: 15px 20px 0 20px;
    // border: 1px solid $color-gray-d;
    border-bottom: 0px;
    .search{
      height: 34px;
      width: 100%;
      border: 1px solid #0088cc;
      border-radius:5px;
      .icon{
        height: 34px;
        width: 40px;
        background: url("../images/serach.png") no-repeat center center #f0f2f5;
        background-size: 16px 16px;
        border-radius:5px

      }
      >input{
        height: 34px;
        width: 80%;
        border: 0px;
        outline: 0px;
        padding: 0 0 0 5px;
        width: 60%;
        height: 25px;
        border: 1px solid #d5e0e6;
      }
    }
    .search-box{
      overflow-y: scroll;
      max-height: 185px;
      border: 1px solid #e7eaee;
      margin: 20px 0 0 0 ;
      display:  none;

    }
    .search-table{
      // display: block;
      width: 100%;
      >tbody>tr>td{
        height: 36px;
        text-align: left;
        &:nth-child(1){
          width: 50%;
          text-align: left;
          >label>input{
            margin: 0 5px;
          }
        }
        &:nth-child(2),&:nth-child(3){
          color: #777777;
          font-size: 12px;
        }
      }
      >tbody>tr{
        cursor: pointer;
        &:hover,&.current{
          background: #efefef;
        }
      }
    }

  }
  .buttons{
    text-align: center;
    margin: 15px 0 10px 0;
    >a{
      width: 124px;
      height: 40px;
      line-height: 40px;
      background: #0088cc;
      border: 1px solid #dbdbdb;
      color: #FFF;
      display: inline-block;
      cursor: pointer;
      &.cancel{
        background: #e1e4e9;
        color:#8f9399;
        margin:  0 10px 0 0;

      }
    }
  }
}

.file-name{
  color: $color-gray-d;
  padding: 0 0 0 2%;
  display: inline-block;
  vertical-align: top;
  margin: 6px 0 0 0;
}
.format{
  color: #ddd;
}
.addAttachment{
  color: $color-blue;
  padding: 0 0 0 2%;
  display: inline-block;
  vertical-align: top;
  margin: 6px 0 0 0;
}
.addAttachmentList{
  width:92%;
  >li{
    height: 30px;
    line-height: 30px;
    width: 100%;
    //background: url("../images/t-12.png") no-repeat 5px center;

    >div{
      color:#666;
      display: inline-block;
      line-height: 30px;
      height: 30px;
      width: 98%;
      padding: 0 0 0 0%;
      
      >.delete{
        line-height: 30px;
        color:$color-blue;
        padding-left:100px;
        visibility: hidden
      }
      &:hover{
        background:#f2f2f2;
        color:#666;
        //background: url("../images/t-12.png") no-repeat 5px center #f2f2f2;
        cursor: pointer;
        >span,>a{
          visibility: visible;
          cursor: pointer;
        }
      }

    }
  }
}

.a-upload {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    width: 80px;
    height: 17px;
}
.a-upload input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.a-upload:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}

@keyframes light {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(1px);
  }
  20% {
    transform: translateX(2px);
  }
  30% {
    transform: translateX(1px);
  }
  40% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-1px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(0px);
  }
}
