html {
  body {
    overflow: hidden;
    div, table {
      box-sizing: border-box;
    }

    .user-mask {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(255,255,255,.1);
      display: none;
      z-index: 10;
    }
    .content {
      position: absolute;
      margin: 0;
      top: 37px;
      left: 15%;
      overflow: hidden;
      overflow-y: auto;
      bottom: 0;
      .page-inner {
        .item-header {
          padding-left: 20px;
          padding-right: 10px;
          box-sizing: border-box;
          background:#eeeeee;
          border:1px solid #dbdbdb;
          height:38px;
          line-height: 38px;
        }
        .item-content {
          border: 0;
          min-height: 480px;
          margin-bottom: 20px;
          padding: 20px;
          .table-box {
            margin: 0;
            table {
              thead, tbody {
                tr {
                  border-bottom: solid 1px #dee6ea;
                  th, td {
                    border: 0;
                    font-weight: 400;
                    text-align: left;
                    padding-left: 30px;
                    color:#99aabb;
                    .a-upload {
                      background: #03a9f4;
                      border-radius: 4px;
                      width: 78px;
                      height: 29px;
                      border: 0;
                      color: #fff;
                      cursor: pointer;
                      outline: none;
                      text-align: center;
                      padding: 0;
                      line-height: 29px;
                    }
                    .total-right {
                      float: right;
                      color: #000;
                      .search-box {
                        display: inline-block;
                        vertical-align: middle;
                        position: relative;
                        border: solid 1px #dee6ea;
                        padding: 0px 10px 0px 15px;
                        margin-right: 20px;
                        .search-icon {
                          background: url("../images/search-icon.png") no-repeat;
                          width: 16px;
                          height: 16px;
                          position: absolute;
                          top: 7px;
                          right: 10px;
                          cursor: pointer;
                        }
                        input {
                          height: 29px;
                          border: 0;
                          outline: none;
                          width: 150px;
                          padding-right:16px;
                        }
                      }
                      .total-num {
                        display: inline-block;
                        margin: 0 2px;
                        font-weight: bold;
                      }
                    }
                  }
                }
              }
              tbody {
                tr {
                  td {
                    color: #667788;
                    vertical-align: middle;
                    padding-top: 4px;
                    padding-bottom: 4px;
                    &.organize {
                      .right {
                        display: none;
                      }
                      width: 50%;
                      .download {
                        background: url("../images/download.png") no-repeat;
                        width: 16px;
                        height: 17px;
                        cursor: pointer;
                        margin-right: 15px;
                      }
                      .delete-icon {
                        background: url("../images/delete-organize.png") no-repeat;
                        width: 16px;
                        height: 16px;
                        cursor: pointer;
                        margin-right: 15px;
                      }
                    }
                  }
                  &:hover {
                    background: #e6ecef;
                    td {
                      &.organize {
                        .right {
                          display: block;
                        }
                      }
                    }
                  }
                }
              }
              thead {
                tr {
                  td {
                    padding: 15px 0;
                    padding-left: 30px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}