html{
  body {
    overflow: hidden;
    div, table {
      box-sizing: border-box;
    }
    header.header{
      div.t{
        width: 120px;
      }

    }
    .content {
      height: 100%;
      .page-inner {
        .page-back {
          padding: 20px;
          background: #fff;
          table {
            width: 25%;
            tbody {
              width: 100%;
              tr {
                width: 100%;
                &.form-name {
                  font-size:12px;
                  color:#667788;
                  letter-spacing:0;
                  line-height:18px;
                  text-align:left;
                  .form-text {
                    margin-top: 10px;
                    display: inline-block;
                  }
                }
                &.form-input {
                  margin-top: 5px;
                  .error-msg {
                    color: #b74b4b;
                  }
                  input {
                    padding-left: 15px;
                  }
                  input, select {
                    width: 100%;
                    background:#ffffff;
                    border:2px solid #dae4e9;
                    border-radius:2px;
                    outline: none;
                    height: 30px;
                    box-sizing: border-box;
                    &.error-i {
                      border: 1px solid #b74b4b;
                      box-shadow: 0px 0px 3px #b74b4b;
                      -webkit-animation: light .3s ease-in-out;
                      animation: light .3s ease-in-out;
                    }
                  }
                }
                &.form-button-box {
                  text-align: center;
                  .edit-pwd-btn {
                    border-radius: 4px;
                    width: 70%;
                    height: 30px;
                    display: block;
                    margin: auto;
                    border: 0;
                    outline: none;
                    font-size: 12px;
                    cursor: pointer;
                    margin-top: 15px;
                    margin-bottom: 15px;
                    &.cancel-btn {
                      background: #ffffff;
                      border: 1px solid #e6ecef;
                      color: #99aabb;
                    }
                    &.sure-btn {
                      background: #03a9f4;
                      color: #ffffff;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}