*{
  margin: 0px;
  padding: 0px;
}
body,html{
  font-family:'Arial', 'Miscrosoft yahei';
  height: 100%;
  font-size: 13px;
  width: 100%;
  .error-msg {
    margin: auto;
    color: #ed807c;
    margin-bottom: 5px;
    width: 285px;
  }
}
ul,li{
  list-style: none;
}
table{
  border-collapse: collapse;
}
a{
  text-decoration: none;
}
.table{
  display: table;
  .table-cell{
    display: table-cell;
    vertical-align: middle;
  }
}
img {
  max-width: 100%;
}
.clear:after{
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.left{
  float: left;
}
.right{
  float: right;
}
.aa{width:10px;}
.banner{

  height: 75px;
  background: #1f262d;
  border:1px solid #040709;
  font-size: 22px;
  font-weight: bold;
  color: #FFF;
  >p{
    background: url("../images/logo.png") no-repeat left center;
    padding: 0 0 0 30px;
    span {
      color: #31aae1;
      font-weight: normal;
    }
    width: 185px;
    margin: 0 auto;
    height: 75px;
    line-height: 75px;
  }
}
.login-back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40%;
  background: url("../images/login-bg.jpg") no-repeat center bottom;
  background-size: cover;
  overflow: hidden;
  .table {
    width: 100%;
    height: 100%;
    text-align: center;
    .login-logo {
      width: 100px;
      display: inline-block;
      vertical-align: middle;
    }
    .login-title {
      margin-top: 2%;
      color: #fff;
      font-size: 36px;
    }
  }
}
.login-box{
  position: absolute;
  top: 40%;
  height: 60%;
  left: 0;
  right: 0;
  .head{
    height: 55px;
    line-height: 55px;
    background: #31aae1;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    margin: 0 0 32px 0;
  }
  .user-input{
    height: 42px;
    width: 285px;
    margin: 0 auto;
    margin-bottom:5px;
    border-bottom: solid 1px #99aabb;
    &.password-input {
      margin-top: 10px;
    }
    >i{
      width: 42px;
      height: 42px;
      background: url("../images/u_icon.png") no-repeat;
      &.i-n{
        background-position: 10px -25px;
      }
      &.i-p{
        background-position: 10px 10px;
      }
    }
    &.error {
      border-bottom: solid 1px #ed807c;
      >i{
        &.i-n{
          background-position: -65px -25px;
        }
        &.i-p{
          background-position: -65px 10px;
        }
      }
    }
    &.focus {
      border-bottom: solid 1px #03a9f4;
      >i{
        &.i-n{
          background-position: -30px -25px;
        }
        &.i-p{
          background-position: -30px 10px;
        }
      }
    }
    >input{
      width: 238px;
      height: 42px;
      border: 0px;
      outline: 0px;
      padding:  0 0 0 5px;
    }
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px #fff inset;
    }
  }
  .margin-top {
    margin-top:5%;
  }
  .login-btn{
    width: 285px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 15px;
    background: #31aae1;
    color: #FFF;
    margin: 0 auto;
    margin-top: 32px;
    display: block;
    border-radius: 6px;
  }
  .forget{
    width: 285px;
    color: #a6a6a6;
    margin: 15px auto 0 auto;
    >a{
      color: #a6a6a6;
      &:hover{
        color: #31aae1;
      }
    }
  }
}
